@import "tailwindcss";

@theme {
  --color-primary: #030e50;
  --color-secundary: #e8e6e7;

  --text-title: 70px;
  --text-subtitle: 55px;
  --text-topics: 35px;
  --text-subtopics: 17px;
  --text-texto: 16px;
  --text-description: 14px;

  --font-poppins: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}